<?xml version="1.0" encoding="UTF-8"?>
<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd" default-lazy-init="true"
>
    <context:component-scan base-package="com.seaboxdata" use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Service"/>
    </context:component-scan>

    <!--统一异常处理 -->
    <bean name="exceptionResolver"  class="com.seaboxdata.core.spring.ControllerMappingExceptionResolver">
        <!-- 定义异常处理页面用来获取异常信息的变量名，默认名为exception -->
        <property name="exceptionAttribute" value="ex"></property>
        <!--定义需要特殊处理的异常，用类名或完全路径名作为key，异常也页名作为值-->
        <property name="exceptionMappings">
            <props>
                <!--<prop key="com.quick.frame.exception.GuideTestException">../../exception/error-interface</prop>-->
                <prop key="java.lang.Exception">error   </prop>
            </props>
        </property>
        <property name="statusCodes">
            <props>
                <prop key="errors/error">500</prop>
                <prop key="errors/404">404</prop>
            </props>
        </property>
        <!-- 设置日志输出级别，不定义则默认不输出警告等错误日志信息 -->
        <property name="warnLogCategory" value="DEBUG" />
        <!-- 默认HTTP状态码 -->
        <property name="defaultStatusCode" value="500" />
    </bean>
</beans>