
.sec1{color:#212233;}
.sec2{text-align: center;}
.caption1{
    width:100%;
    height:45%;
    background: url('../img/pcwl-banner.png') no-repeat;
    background-size: cover;
}
.caption2{text-align:center;}
.caption3{
    width:100%;
    height:80vh;
    background: url('../img/pcwl-bg3.png') no-repeat;
    background-size: 100% 100%;
}
.caption4{
    width:90%;
    height:calc(100% - 280px);
    margin:0 auto;
    color:#212233;
}
.cultures{text-align:center;}
.cultures li{float:left; width:25%;padding:0 10px;}
.cultures li img{width:auto;height:auto;}
.d-navtip .msg h3 {padding:0 5px;margin:0; }

.caption31{height:70vh;}
.caption3 .title{padding:1px 0 0 0;height:10vh;}
.city{position: relative;height:60vh;width:80vw;}
.city .earth{width:30vw;height:60vh;margin:0 auto; background:url('../img/pcwl-earth.png') no-repeat center;background-size:100% 100%;}
.city .line1,.city .line2{width:20vw;height:15vh;position: absolute;background-repeat: no-repeat;background-size:100%;cursor: pointer;}
.city .line1 span{float:left;padding-left:40px;}
.city .line2 span{float:right;padding-right:50px;}
.city .line1.active,.city .line2.active{color:#026aff;}
.city .line1.active span{padding-left:45px;}
.city .line2.active span{padding-left:55px;}


.newstab li{float:left;width:33%; color:#212233;font-size:1.4rem;height:35px;line-height:35px;}
.newstab .msg{width:70%;margin:0 auto;text-align:left;}

.navbtm{height:50px;text-align:center;background: url('../img/dmpc-navbtm.png') no-repeat;background-size: 100% 100%;}
.navbtm ul li{float:left;color:#fff;width:11%;line-height:50px;}
.aboutus{background:#191924;color:#fff;}

