html,body {height:100%;width:100%;}
html,body{
    font-family:"微软雅黑 黑体";font-size:1vw;color:#fff;
}
p{font-size:1.2rem;}
li{list-style:none;}
a{color:#fff;}
a,a:hover, a:active, a:visited {text-decoration:none;}
a:hover,a:active{color:#026aff;}

.left{float:left;}
.right{float:right;}
.center{display: flex;justify-content:center;align-items:Center;}
.hide{display:none;}
.flex{display:flex;justify-content:center;align-items:center;}
.clearfix{overflow:hidden;_height:1%}
.clear {clear: both;}
.blue{color:#026aff;}.red{color:red}.green{color:green}.gray{color:gray}.yellow{color:yellow;}
.textl{text-align: left;} .textr{text-align: right;} .textc{text-align: center;}

.h12{height:50%;}.h24{height:100%;}
.w12{height:50%;}.w24{width:100%;}

.b{font-weight: bold;}
.font1{font-size:1rem;}
.font2{font-size:1.17rem;}
.font3{font-size:1.33rem;}
.font4{font-size:1.67rem;}
.font5{font-size:2.33rem;}
.font6{font-size:3rem;}
.font12{font-size:1rem;}
.font14{font-size:1.25rem;}
.font16{font-size:1.5rem;}
.font18{font-size:1.75rem;}
.font20{font-size:2rem;}

/***dui***/
.d-navtip{position:relative; width:100%;overflow-x: hidden;}
.d-navtip .msg{ width:inherit;height:0; background: rgba(0,0,0,0.6); position:absolute; left: 0; bottom: 0; color: #fff;overflow: hidden;}
.d-navtip .msg h3 {  color:#fff; padding:0; font-size: 18px; font-weight: 100; height: 45px; line-height: 45px; text-align: center; }
.d-navtip .msg p { font-size: 14px; text-align: center; }

/*****website start*****/
.sec{width:100%;height:100%;}
.fixed{position: fixed;}
.headerpan{width:100%;margin-bottom:25px;z-index:9;}
.headerpan.active{background:#fff;box-shadow: 0 0 5px 2px rgba(0,0,0,.1);}
.headerpan.active a{color:#000;}
.header{height:75px;width:80%;margin:0 auto;padding:15px;}
.header .logo{font-size: 1.6rem;float:left;}
.header .nav{float:right;width:66%;}
.header nav ul li{display: block;float: left;width:20%;}
.header nav ul li a{font-size:1.4rem;}
.tabl li{float:left;}
.tabl li a,a.line{position: relative;padding:5px;cursor: pointer;}
.tabl li a:after,a.line:after{content: "";width:0;height:3px;position: absolute;bottom:0;left:50%;background:#026aff;transition: all .2s;}
.tabl li a:hover:after,.tabl li a.active:after,a.line:hover:after,a.line:active:after{left: 0%;width: 100%;}

.aboutus{width:100%;height:100px;background:rgba(62,62,62,0.3);position: absolute;bottom:0px;}
.aboutus p{font-size:1rem;}
.imgbox{position: relative;}
.imgfit{object-fit: scale-down;width:100%;height:100%;}
.imgtext{position: absolute;top:0;left:0;right:0;bottom:0;margin: auto;width:50%;height:50%;}
.ibox{background:#fff;}
/***** *****/
.poster-main {
    width: 640px;
    height: 270px;
    position: relative
}

.poster-main .poster-btn {
    width: 100px;
    height: 270px;
    position: absolute;
    top: 0;
}

.poster-main .poster-btn span{
    cursor: pointer
}

.poster-main .glyphicon{.glyphicon .glyphicon-menu-right
    background:#fff;color:#026aff;border:1px solid #eee;width:32px;height:32px;line-height:32px;text-align: center; border-radius: 50%;
}
.poster-main .glyphicon:hover{color:#fff;background:#026aff;}
.poster-main .poster-prev-btn {
    left: 0;justify-content:flex-start;
}

.poster-main .poster-next-btn {
    right: 0;justify-content:flex-end;
}

.poster-main .poster-list .list-item {
    position: absolute;
    top: 0;
    left: 0
}

.list-item a,.list-item a img {
    display: block;
    width: 100%;
    height: 100%;
    border: 0
}
/**********/
/*****website end*****/
