.sec{
	height: 46%;
}
.sec1{color:#212233;}
.sec2{text-align: center;}
.caption1{
    width:100%;
    height:100%;
    background: url('../img/pcwl-banner.png') no-repeat;
    background-size: cover;
}
.caption23{text-align:center;color: black;height: 100%;}
.caption3{
    width:100%;
}
.caption4{
    width:90%;
    height:calc(100% - 280px);
    margin:0 auto;
    color:#212233;
    height: 56vh;
}
.cultures{text-align:center;}
#cultures2 li{text-align:center;height:33vh;}
.cultures2{display: none;}
.cultures li{float:left; width:25%;padding:0 10px;}
.cultures li img{width:auto;height:auto;}
.d-navtip .msg h3 {padding:0 5px;margin:0; }

.caption31{height:70vh;}
.caption3 .title{padding:1px 0 0 0;height:10vh;}
.city{position: relative;height:60vh;width:80vw;}
.city .earth{width:30vw;height:60vh;margin:0 auto; background:url('../img/pcwl-earth.png') no-repeat center;background-size:100% 100%;}
.city .line1,.city .line2{width:20vw;height:15vh;position: absolute;background-repeat: no-repeat;background-size:100%;cursor: pointer;}
.city .line1 span{float:left;padding-left:40px;}
.city .line2 span{float:right;padding-right:50px;}
.city .line1.active,.city .line2.active{color:#026aff;}
.city .line1.active span{padding-left:45px;}
.city .line2.active span{padding-left:55px;}


.newstab li{float:left;width:33%; color:#212233;font-size:1.4rem;height:35px;line-height:35px;}
.newstab .msg{width:70%;margin:0 auto;text-align:left;}

.navbtm{height:50px;text-align:center;background: url('../img/dmpc-navbtm.png') no-repeat;background-size: 100% 100%;}
.navbtm ul li{float:left;color:#fff;width:11%;line-height:50px;}
.aboutus{background:#191924;color:#fff;}



.cap31{
	height: 80vh;
	 background: url('../img/pcwl-bg3.png') no-repeat;
    background-size: 100% 100%;
    margin-top: 2vh;
}

/* ��ϸ  ������ʼ */
.sec_info{
	position: fixed;
	height: 88vh;
	width: 76%;
	font-size: 100px;
	top: 10%;
	z-index: 104;
	left: 12%;
	background-color: #d8dddd;
	display: none;
	max-height: 88vh;
	border-radius: 2%;
} 
.s_close{
	position: absolute;
	right: 10px;
	top: 3px;
	z-index: 11;
	cursor: pointer;
	color:#00c0ff;
}
.s_close:hover{
	color:red;
}
.sec_open{
	display: block;
}  
.carousel_info {
	width: 94%;
	margin-left: 4%;
	overflow:auto;
	height: 47vh;
	max-height:48vh;
	margin-top: -5px;
} 


/*  */
.posterTvGrid{position:relative;height:310px;}
.posterTvGrid img{max-width:none;max-height:none;border:0 none;background:#888;}
.posterTvGrid .contentHolder{position:relative;overflow:hidden;}
.posterTvGrid .contentHolderUnit{cursor:pointer;position:absolute;width:640px;height:270px;}
.posterTvGrid .contentHolderUnit a.elementLink{display:block;overflow:hidden;z-index:3;position:absolute;left:0;right:0;width:100%;height:100%;}
.posterTvGrid .contentHolderUnit img{width:100%;height:100%;}
.posterTvGrid .contentHolderUnit .elementTitle{}
.posterTvGrid .contentHolderUnit .elementOverlay{z-index:1;position:absolute;top:0;left:0;background:#000;width:100%;height:100%;opacity:0;filter:opacity=0;}
.posterTvGrid .contentHolderUnit .leftShadow{position:absolute;top:23px;left:-174px;width:174px;height:224px;background:url(img/leftShadow.png) no-repeat;}
.posterTvGrid .contentHolderUnit .rightShadow{position:absolute;top:23px;right:-174px;width:174px;height:224px;background:url(img/rightShadow.png) no-repeat;}
.posterTvGrid .bannerControls{}
.posterTvGrid .leftNav,.posterTvGrid .rightNav{cursor:pointer;z-index:10;position:absolute;top:50%;width:45px;height:45px;margin-top:-43px;}
.posterTvGrid .leftNav{left:7px;background:url("img/1.png") no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="img/slide_prev_btn.png");}
.posterTvGrid .rightNav{right:7px;background:url("img/2.png") no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="img/slide_next_btn.png");}
.posterTvGrid .leftNav:hover{}
.posterTvGrid .rightNav:hover{}
.posterTvGrid .bottomNav{z-index:140;position:absolute;width:100%;height:10px;margin-top:210px;padding:10px 0 0;text-align:center;}
.posterTvGrid .bottomNavButtonOFF{cursor:pointer;overflow:hidden;display:inline-block;*display:inline;*zoom:1;width:16px;height:11px;margin:0 10px;vertical-align:top;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;background:#c3c3c3;}
.posterTvGrid .bottomNavButtonOFF:hover{background:#aaa;}
.posterTvGrid .bottomNavButtonON,
.posterTvGrid .bottomNavButtonON:hover{background:#69aaec;}
.posterTvGrid .bottomNavLeft{}
.posterTvGrid .bottomNavRight{}.centrr_info{width:94%;margin-left: 3%;max-height: 41vh;min-height:24vh;}
.centrr_info p{font-size: 14px;line-height: 20px;color: black;overflow:auto;}
.carousel_title{margin-top: 9px;}
.carousel_title p{line-height: 30px;font-size: 22px;text-align: center;font-weight: bold;color: #0f0e0e;}
