/*滚动条样式--webkit*/

/* 整体 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background: transparent;
  -webkit-border-radius: 6px;
}

/* 内层轨道 */
::-webkit-scrollbar-track-piece {
  -webkit-border-radius: 0;
}

/* 滑块 */
::-webkit-scrollbar-thumb {
  height: 50px;
  -webkit-border-radius: 6px;
  outline-offset: -2px;
  background: #014179;
  border: 2px solid #014179;
}

/* 滑块悬停 */
::-webkit-scrollbar-thumb:hover {
  height: 50px;
  background: #003b6e;
  border: 2px solid #003b6e;
  -webkit-border-radius: 6px;
}

/*
 * 这个样式文件用于定制基础库的样式
 */
html, body {
  background: url(../images/bg.jpg) no-repeat #121a46;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  width: 1920px;
  height: 1080px;
}

body {
  position: relative;
}

.clearfix:after {
  content: '.';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.relative {
  position: relative;
}

.text-gradient {
  background: linear-gradient(to right, red, blue);
  -webkit-background-clip: text;
  color: transparent;
}

.app-header {
  position: absolute;
  top: 0;
  z-index: 30;
  height: 48px;
}

.app-header .header-btn {
  position: absolute;
  color: #98a6fd;
  cursor: pointer;
}

.app-header .header-btn .icon {
  font-size: 18px;
  font-weight: bold;
}

.app-header .header-btn:hover,
.app-header .header-btn.active {
  color: #fff;
}

.app-header .menu-btn {
  top: 15px;
  left: 15px;
}

.app-header .logout-btn {
  top: 15px;
  right: 15px;
}

.app-header .logout-btn .icon {
  font-size: 22px;
}

#earth {
 position: absolute;
height: 1010px;
width: 1350px;
top: 50px;
left: 20px;
bottom: 20px;
z-index: 10;
border: 3px solid rgba(8, 235, 255, 0.5);
}

.app-content {
  z-index: 20;
  /*height: calc(100% - 48px);*/
  /*margin-top: 48px;*/
  height: 100%;
}

/* 布局 */
.fg-item {
  background: url(../images/fg-item-bg.png) repeat-x rgba(10, 16, 69, 0.6);
  border: 2px solid rgba(8, 235, 255, 0.5);
}

.fg-item::before {
  content: "";
  position: absolute;
  left: -2px;
  width: 2px;
  /*
  background: #09fcff;
  */
  top: 20%;
  bottom: 20%;
}

.fg-item::after {
  content: "";
  position: absolute;
  right: -2px;
  width: 2px;
  /*
  background: #09fcff;
  */
  top: 20%;
  bottom: 20%;
}

.fg-item .fg-item-content-head-text {
  background: linear-gradient(to bottom, #1eb7fd, #0174df);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
  font-size: 26px;
  position: absolute;
  left: 65px;
  top: 18px;
}

.fg-item .fg-item-content-head-text div {
  cursor: pointer;
  /*position: relative;*/
  display: inline-block;
  background: linear-gradient(to bottom, #1eb7fd, #0174df);
  -webkit-background-clip: text;
  color: transparent;
}

.fg-item .fg-item-content-head-text div img {
  display: none;
}

.fg-item .fg-item-content-head-text div.active {
  color: #00eaff;
}

.fg-item .fg-item-content-head-text div.active img {
  display: block;
  margin-top: 5px;
}

.fg-item .fg-item-content-head-icon {
  position: absolute;
}

.fg-item .fg-item-content-head-icon img {
  position: relative;
  top: 18px;
  left: 20px;
}

.fg-item .fg-item-content .fg-item-content-body {
  height: calc(100% - 60px);
  margin-top: 60px;
}

.chart-tooltip-item {
  height: 20px;
  line-height: 20px;
}

.chart-tooltip-icon {
  height: 14px;
  width: 14px;
  border-radius: 10px;
  display: inline-block;
  position: relative;
  top: 2px;
}

.chart-tooltip-icon.red {
  background-color: #fb5623;
}

.chart-tooltip-icon.blue {
  background: linear-gradient(to bottom, #71aaff, #1720c7);
}

.chart-tooltip-icon.teal {
  background: linear-gradient(to bottom, #0091ea, #80eab4);
}

.chart-tooltip-icon.purple {
  background-color: #d500f9;
}

.chart-tooltip-visit-container {
  max-width: 500px;
  overflow: auto;
  max-height: 200px;
}

.chart-tooltip-visit-item {
  border-bottom: 1px solid rgba(9, 252, 255, 0.3);
  box-sizing: border-box;
  padding: 5px;
}

.chart-tooltip-visit-item p:last-child {
  white-space: normal;
  word-wrap: break-word;
}

.chart-tooltip-visit-icon {
  width: 10px;
  height: 10px;
  background: #09fcff;
  display: inline-block;
  border-radius: 20px;
  position: relative;
  top: 3px;
}

/* 地图右下角的开启与关闭 */
.map-legend {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 180px;
  color: #fff;
}

.map-legend .head {
  padding: 5px;
}

.map-legend .head>div {
  display: inline-block;
  width: 100%;
  font-size: 14px;
  text-align: center;
  background: rgba(18, 71, 161, 0.7);
  padding: 8px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.map-legend .head>div.active,
.map-legend .head>div:hover {
  /*background: linear-gradient(to bottom, #028ecf, #175ab2);*/
}

.map-legend .content {
  font-size: 14px;
  margin: 5px;
  padding: 5px;
  /*visibility: hidden;*/
  display: none;
  background: rgba(15, 26, 78, 0.5);
  border-radius: 5px;
}

.map-legend .content.active {
  display: block;
  visibility: visible;
}

.map-legend .content>div {
  margin-bottom: 5px;
}

.map-legend .content>div>i {
  width: 12px;
  height: 12px;
  display: inline-block;
  margin-right: 10px;
  position: relative;
  border-radius: 10px;
  top: 1px;
}

.map-legend .content>div:nth-child(1)>i {
  background-color: #c8e6c9;
}

.map-legend .content>div:nth-child(2)>i {
  background-color: #4dd0e1;
}

.map-legend .content>div:nth-child(3)>i {
  background-color: #29b6f6;
}

.map-legend .content>div:nth-child(4)>i {
  background-color: #1976d2;
}

.map-legend .content>div:nth-child(5)>i {
  background-color: #2d4db2;
}

/* switch 开关 */

.ag-switch {
  display: none;
}
.ag-switch-label {
  position: relative;
  padding-left: 50px;
  cursor: pointer;
}

.ag-switch-label:before {
  content: '';
  position: absolute;
  top: 0;
  left: 3px;
  width: 16px;
  height: 16px;
  z-index: 1;
  border-radius: 8px;
  transition: all .3s ease;
}
.ag-switch-label:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 40px;
  height: 20px;
  box-sizing: border-box;
  transform: translate(0,-50%);
  border-radius: 10px;
}

/* 未选中 */
input.ag-switch[type=checkbox]:not(:checked) + label.ag-switch-label:before {
  background-color: #fff;
}
input.ag-switch[type=checkbox]:not(:checked) + label.ag-switch-label:after {
  background-color: #D8D8D8;
}

/* 选中 */
input.ag-switch[type=checkbox]:checked + label.ag-switch-label::before {
  left: 22px;
  background-color: #fff;
}
input.ag-switch[type=checkbox]:checked + label.ag-switch-label:after {
  background-color: #30A8FF;
}

/* 禁用 */
input.ag-switch[type=checkbox]:disabled + label.ag-switch-label {
  cursor: not-allowed;
}

/* 禁用未选中 */
input.ag-switch[type=checkbox]:disabled:not(:checked) + label.ag-switch-label:before {
  background-color: #fff;
}
input.ag-switch[type=checkbox]:disabled:not(:checked) + label.ag-switch-label:after {
  background-color: #eeeeee;
}

/* 禁用选中 */
input.ag-switch[type=checkbox]:disabled:checked + label.ag-switch-label:before {
  background-color: #fff;
}
input.ag-switch[type=checkbox]:disabled:checked + label.ag-switch-label:after {
  background-color: #afddff;
}


/* 导航栏 */
.nav-page-container {
  width: 300px;
  height: calc(100% - 48px);
  color: #fff;
  position: absolute;
  top: 48px;
  left: 0;
  z-index: 1000;
  transform: translateX(-100%);
  transition: all ease 0.2s;
  background: linear-gradient(to right, rgba(4,0,36,1) 60%, rgba(4,0,36,0) 100%);
}

.nav-page-container .nav-header {
  position: absolute;
  border: 1px solid;
  box-sizing: border-box;
  padding: 5px;
  border-radius: 20px;
  top: 63px;
  left: 42px;
  width: 24px;
  height: 24px;
  background: #040025;
  z-index: 100;
}

.nav-page-container .nav-header img {
  position: relative;
  top: -2px;
}

.nav-page-container.show {
  transform: translateX(0);
}

.nav-page-container.hide {
  transform: translateX(-100%);
}

.nav-tag-ul {
  position: relative;
  padding: 0;
  margin: 40px 0 0;
  height: calc(100% - 80px);
}

.nav-tag-ul:before {
  content: "";
  position: absolute;
  left: 53px;
  top: -15px;
  width: 1px;
  height: calc(100% + 15px);
  background: #6f7087;
  z-index: 1;
}

.nav-tag-ul li {
  padding: 0 0 0 88px;
  position: relative;
  line-height: 69px;
  cursor: pointer;
}

.nav-tag-ul li * {
  pointer-events: none;
}

.nav-tag-ul li .nav-tag-li-circle {
  position: absolute;
  border-radius: 50%;
  background-color: #1d2024;
  color: #adb4bc;
  width: 12px;
  height: 12px;
  left: 47px;
  top: 29px;
  border: 2px solid #adb4bc;
  box-shadow: 0 0 0 3px #1d2024, inset 0 2px 0 rgba(0, 0, 0, .08), 0 1px 0 2px rgba(0, 0, 0, .05);
  z-index: 2;
}

/* .nav-tag-ul li:first-child .nav-tag-li-circle {
    width : 20px;
    height : 20px;
    left : 31px;
    top : 22px;
} */
.nav-tag-ul li .nav-tag-li-circle .nav-tag-li-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 11px;
  height: 11px;
  background: url('../images/nav_home.png') no-repeat;
  background-size: contain;
}

.nav-tag-ul li:hover {
  background-image: linear-gradient(to right, rgba(100,75,255,1), rgba(9,9,63,0.5));
  background-blend-mode: normal,
  normal;
}

.nav-tag-ul li:hover .nav-tag-li-circle,
.nav-tag-ul .li-active .nav-tag-li-circle {
  background-color: rgba(100, 75, 255, 0.9);
  box-shadow: 0 0 0 3px #4a36aa, inset 0 2px 0 rgba(0, 0, 0, .08), 0 1px 0 2px rgba(0, 0, 0, .05);
}

.nav-tag-ul li:active,
.nav-tag-ul .li-active {
  background-image: linear-gradient(to right, rgba(100,75,255,1), rgba(9,9,63,0.5));
  background-blend-mode: normal,
  normal;
}

.nav-tag-ul .li-active {

}

.nav-tag-ul .nav-tag-li.li-active::after,
.nav-tag-ul .nav-tag-li:hover::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translatey(-50%);
  width: 19px;
  height: 19px;
  background: url('../images/nav_active_arrow.png') no-repeat;
  background-size: contain;
}


/* year-label */
.year-label {
  position: absolute;
  width: 180px;
  height: 49px;
  line-height: 49px;
  border: 2px solid rgba(8,235,255,0.55);
  background: rgba(10,16,69,0.5);
  z-index: 1000;
}

.year-label.foreign_trade_analysis {
  left: 1080px;
  top: 125px;
}

.year-label.economic_analysis {
  left: 1000px;
  top: 125px;
}

.year-label.two_sides {
  left: 1060px;
  top: 125px;
}

.year-label .text {
  background: linear-gradient(to bottom, #affae6, #5ceaec);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 30px;
  font-weight: bold;
  width: 100%;
  height: 100%;
  text-align: center;
}

/* 特殊块 */
.fg-item-special .fg-item-content-head-icon {
  display: none !important;
}

.fg-item-special .fg-item-content-head-text {
  left: 30px !important;
}

.special-content {
  padding-top: 1px;
}

.special-content .special-title {
  font-size: 36px;
  text-align: center;
  color: #fff;
  padding-bottom: 10px;
  padding-top: 5px;
  position: relative;
}

.special-content .special-item:first-child {
  margin-top: 10px;
}

.special-content .special-item {
  margin-top: 20px;
}

.special-content .special-item .title {
  text-align: center;
  color: rgba(255,255,255,0.5);
  font-size: 18px;
  margin-bottom: 12px;
}

.special-content .special-item .value {
  text-align: center;
  color: rgba(255,255,255,1);
  font-size: 36px;
}
