<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seaboxdata.sysmng.mainframemng.propagatemng.IPropagateMngDao">
	<!--查询条件-->
	<sql id="where">
		1=1
		<if test="propagate_id != null "><![CDATA[
	       and propagate_id = #{propagate_id}
	    ]]></if>
		<if test="module_id != null "><![CDATA[
	       and module_id = #{module_id}
	    ]]></if>

		<if test="index_title != null and index_title != '' and !'null'.equals(index_title)"><![CDATA[
	       and index_title  like CONCAT('%',#{index_title},'%')
	    ]]></if>

		<if test="index_content != null and index_content != '' and !'null'.equals(index_content)"><![CDATA[
	       and index_content  like CONCAT('%',#{index_content},'%')
	    ]]></if>

		<if test="img_path != null and img_path != '' and !'null'.equals(img_path)"><![CDATA[
	       and img_path  like CONCAT('%',#{img_path},'%')
	    ]]></if>


		<if test="index_state != null"><![CDATA[
	       and index_state = #{index_state}
	    ]]></if>

		<if test="pub_state != null"><![CDATA[
	       and pub_state = #{pub_state}
	    ]]></if>

		<if test="order_by != null"><![CDATA[
	       and pub_state = #{order_by}
	    ]]></if>

		<if test="upd_time != null"><![CDATA[
	       and upd_time >= #{upd_time}
	    ]]></if>

		<if test="cre_time != null"><![CDATA[
	       and cre_time >= #{cre_time}
	    ]]></if>

		<if test="_sql_where != null and _sql_where != ''"> <![CDATA[
            and ${_sql_where}
        ]]> </if>
	</sql>

	<!-- 新增sys_sign_info -->
	<insert id="insert" parameterType="com.seaboxdata.sysmng.mainframemng.propagatemng.PropagateMngDO">
		insert into t01_propagate (
			  module_id,
			  index_tag,
    		  index_title,
    		  index_content,
    		  img_path,
    		  index_state,
    		  pub_state,
    		  order_by,
    		  cre_time,
    		  upd_time
		)values(
			 #{module_id},
			 #{index_tag},
			 #{index_title},
			 #{index_content},
			 #{img_path},
			 #{index_state},
			 #{pub_state},
			 #{order_by},
			 now(),
			 now()
			)
	</insert>

	<!-- 修改app_class -->
	<update id="update" parameterType="com.seaboxdata.sysmng.mainframemng.propagatemng.PropagateMngDO">
		update t01_propagate
		   set module_id=#{module_id}
		      ,index_tag=#{index_tag}
			  ,index_title=#{index_title}
			  ,index_content=#{index_content}
			  ,img_path=#{img_path}
			  ,index_state=#{index_state}
			  ,pub_state=#{pub_state}
			  ,order_by=#{order_by}
			  ,cre_time=now()
			  ,upd_time=now()
		 where propagate_id = #{propagate_id}
	</update>

	<!-- 删除 -->
	<delete id="delete" parameterType="String">
		update t01_propagate
		   set index_state=0
			  ,pub_state=0
			  ,cre_time=now()
			  ,upd_time=now()
		 where propagate_id = #{propagate_id}
	</delete>

	<!--查询-->
	<select id="select" parameterType="map" resultType="map">
		select e.*,o.function_name from t01_propagate e left join t01_function_info o on e.module_id = o.module_id
		<where>
			<include refid="where" />
		</where>
		<if test="_sql_order != null and _sql_order != ''">
			order by ${_sql_order}
		</if>
	</select>

	<!-- 查询总记录数 -->
	<select id="count" parameterType="map" resultType="int">
		select count(*) from t01_propagate
		<where>
			<include refid="where" />
		</where>
	</select>

	<select id="getModuleInfo" parameterType="map" resultType="map">
		select e.module_id,o.function_name from t01_function_info o inner join t01_propagate e  on e.module_id = o.module_id
	</select>


	<select id="getMainframePropagateInfo" parameterType="map" resultType="map">
		select img_path as img_url, index_tag as tag,index_title as title,
		 index_content as content from  t01_propagate   where pub_state=1 and index_state=1 order by order_by
	</select>








	<update id="pubPropagateInfoById" parameterType="String">
		update t01_propagate
		   set index_state=1
			  ,pub_state=1
			  ,cre_time=now()
			  ,upd_time=now()
		 where propagate_id = #{propagate_id}
	</update>

</mapper>