<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seaboxdata.sysmng.gotopuchengmng.puchenghistoricculture.IPuChengHistoricCultureDao">
	<!--查询条件-->
	<sql id="where">
		1=1
		<if test="his_id != null "><![CDATA[
	       and his_id = #{his_id}
	    ]]></if>

		<if test="index_title != null and index_title != '' and !'null'.equals(index_title)"><![CDATA[
	       and index_title  like CONCAT('%',#{index_title},'%')
	    ]]></if>

		<if test="index_content != null and index_content != '' and !'null'.equals(index_content)"><![CDATA[
	       and index_content  like CONCAT('%',#{index_content},'%')
	    ]]></if>

		<if test="img_path != null and img_path != '' and !'null'.equals(img_path)"><![CDATA[
	       and img_path  like CONCAT('%',#{img_path},'%')
	    ]]></if>

		<if test="index_state != null"><![CDATA[
	       and index_state = #{index_state}
	    ]]></if>

		<if test="pub_state != null"><![CDATA[
	       and pub_state = #{pub_state}
	    ]]></if>

		<if test="upd_time != null"><![CDATA[
	       and upd_time >= #{upd_time}
	    ]]></if>

		<if test="cre_time != null"><![CDATA[
	       and cre_time >= #{cre_time}
	    ]]></if>

		<if test="_sql_where != null and _sql_where != ''"> <![CDATA[
            and ${_sql_where}
        ]]> </if>
	</sql>

	<!-- 新增sys_sign_info -->
	<insert id="insert" parameterType="com.seaboxdata.sysmng.gotopuchengmng.puchenghistoricculture.PuChengHistoricCultureDO">
		insert into t02_his_cult (
			  his_id,
			  module_id,
    		  index_title,
    		  index_content,
    		  img_path,
    		  index_state,
    		  pub_state,
    		  group_id,
    		  order_by,
    		  cre_time,
    		  upd_time
		)values(
			 #{his_id},
			 #{module_id},
			 #{index_title},
			 #{index_content},
			 #{img_path},
			 #{index_state},
			 #{pub_state},
			 #{group_id},
			 #{order_by},
			 now(),
			 now()
			)
	</insert>

	<!-- 修改app_class -->
	<update id="update" parameterType="com.seaboxdata.sysmng.gotopuchengmng.puchenghistoricculture.PuChengHistoricCultureDO">
		update t02_his_cult
		   set index_title=#{index_title}
			  ,index_content=#{index_content}
			  ,img_path=#{img_path}
			  ,index_state=#{index_state}
			  ,pub_state=#{pub_state}
			  ,group_id=#{group_id}
			  ,order_by=#{order_by}
			  ,cre_time=now()
			  ,upd_time=now()
		 where his_id = #{his_id}
	</update>
	<update id="pubInfoById" parameterType="map">
		update t02_his_cult
		   set index_state=1
			  ,pub_state=#{pub_state}
			  ,cre_time=now()
			  ,upd_time=now()
		 where his_id = #{his_id}
	</update>
	<!-- 删除 -->
	<delete id="delete" parameterType="String">
		delete from t02_his_cult where his_id = #{his_id};
	</delete>

	<!--查询-->
	<select id="select" parameterType="map" resultType="map">
		select e.*,o.function_name from t02_his_cult  e left join t01_function_info o on e.module_id = o.module_id
		<where>
			<include refid="where" />
		</where>
		order by e.index_title
	</select>

	<!-- 查询总记录数 -->
	<select id="count" parameterType="map" resultType="int">
		select count(*) from t02_his_cult
		<where>
			<include refid="where" />
		</where>
	</select>

	<select id="getPuChengHistoricCultureInfo" parameterType="map" resultType="map">
		select CONCAT(module_id,group_id) as id, index_title as title,index_content as content,img_path as img_url from t02_his_cult
		where 1=1
		<if test="flag != null and flag == pre "><![CDATA[
	      and index_state=1
		]]></if>
		<if test="flag == null"><![CDATA[
	       and  pub_state=1 and index_state=1
	    ]]></if>

		order by order_by
	</select>



	<select id="getPuChengGeographCultureInfo" parameterType="map" resultType="map">
		select  CONCAT(module_id,group_id) as id,index_title as title,index_content as content,img_path as img_url from t02_cult_geograph
		where 1=1
		<if test="flag != null and flag == pre "><![CDATA[
	      and index_state=1
		]]></if>
		<if test="flag == null"><![CDATA[
	       and  pub_state=1 and index_state=1
	    ]]></if>

		order by order_by
	</select>


</mapper>